# For more information about these config options please see the README
# or https://github.com/openwisp/openwisp-config#configuration-options

config controller 'http'
	option url ''
	#option interval '120'
	option verify_ssl '0'
	#option shared_secret ''
	#option consistent_key '1'
	#option mac_interface 'eth0'
	#option merge_config '1'
	#option test_config '1'
	#option test_script '/usr/sbin/mytest'
	option uuid ''
	option key ''
	list unmanaged 'system.@led'
	list unmanaged 'network.loopback'
	list unmanaged 'network.@switch'
	list unmanaged 'network.@switch_vlan'
	# curl options
	#option connect_timeout '15'
	#option max_time '30'
	#option capath '/etc/ssl/certs'
