# For more information about these config options please see the README
# or https://github.com/openwisp/openwisp-config#configuration-options

config controller 'http'
	#option url 'https://openwisp2.mynetwork.com'
	#option interval '120'
	#option verify_ssl '1'
	#option shared_secret ''
	#option consistent_key '1'
	#option mac_interface 'eth0'
	#option management_interface 'tun0'
	#option merge_config '1'
	#option tags ''
	#option test_config '1'
	#option test_script '/usr/sbin/mytest'
	#option hardware_id_script '/usr/sbin/read_hw_id'
	#option hardware_id_key '1'
	#option bootup_delay '0'
	option uuid ''
	option key ''
	# curl options
	#option connect_timeout '15'
	#option max_time '30'
	#option capath '/etc/ssl/certs'
	#option cacert '/etc/ssl/certs/ca-certificates.crt'
	# hooks
	#option pre_reload_hook '/usr/sbin/my_pre_reload_hook'
	#option post_reload_hook '/usr/sbin/my_post_reload_hook'
