config controller 'http'
	option url ''
	option interval '120'
	option verify_ssl '1'
	option uuid ''
	option key ''
	option shared_secret ''
	option test_config '1'
	# you may customize the behaviour which checks
	# whether a new configuration is valid or not,
	# for more information please read: URL
	#option test_script '/usr/sbin/mytest'
