# For more information about these config options please see the README
# or https://github.com/openwisp/openwisp-config#configuration-options

config controller 'http'
	option url ''
	option interval '120'
	option verify_ssl '1'
	option uuid ''
	option key ''
	option shared_secret ''
	list merge_default 'system'
	list merge_default 'network'
	option test_config '1'
	#option test_script '/usr/sbin/mytest'
