name: OpenWISP Config CI Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  
jobs:

  tests:
    name: QA-Checks and Tests
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install OpenWISP Config
      run: sudo ./install-dev.sh

    - name: Install Python dependencies
      run: pip install openwisp-utils[qa]>=0.7

    - name: QA-Checks
      run: openwisp-qa-check --skip-checkmigrations --skip-isort --skip-flake8 --skip-black

    - name: Tests
      run: ./runtests

  build:
    name: Build and Upload Packages
    needs: tests
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Cache OpenWRT dependencies
        id: cache
        uses: actions/cache@v2
        env:
          cache-name: cache-openwisp-config-dependencies
        with:
          path: '/home/runner/work/build'
          key: ${{ runner.os }}-build-${{ env.cache-name }}

      - name: Set Environment
        run: |
          echo "START_TIME=$(date +"%Y-%m-%d-%H%M%S")" >> $GITHUB_ENV
          echo "COMMIT_SHA=$(git log --pretty=format:'%h' -n 1)" >> $GITHUB_ENV

      - name: Run Build
        run: ./runbuild
        env:
          CI: 1
          CI_CACHE: ${{ steps.cache.outputs.cache-hit }}

      - name: Setup Google Cloud
        uses: google-github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCS_DOWNLOADS_SERVICE_ACCOUNT_JSON }}
          project_id: ${{ secrets.GCS_PROJECT_ID }}
          export_default_credentials: true

      - name: Upload compiled packages to downloads.openwisp.io
        if: ${{ github.event_name=='push' }}
        run: gsutil -m rsync -r ${{ env.SRC_URL }} ${{ env.DST_URL }}
        env:
          SRC_URL: ${{ env.DOWNLOADS_DIR }}/${{ env.START_TIME }}/openwisp
          DST_URL: gs://${{ secrets.GCS_DOWNLOADS_BUCKET_NAME }}/openwisp-config/${{ env.START_TIME }}-${{ env.COMMIT_SHA }}
